body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Login Page Styles */
.login-page {
  background-color: #255c86; /* Dark blue background */
  color: #fff; /* White text */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-container {
  max-width: 900px;
  width: 100%;
  padding: 40px;
  justify-content: center;
  text-align: center;
}
.login-button {
  background-color: #668eca; /* Light blue button */
  color: #fff;
  padding: 10px 20px;
  border: 1px solid black;
  justify-content: center;
  font-size: 16px;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-button-container button {
  width: 50%; /* Fixed width for buttons */
  height: 50px; /* Fixed height for buttons */
  margin: 0 10px; /* Space between buttons */
  padding: 10px 20px;
  background-color: #ffab40; /* Light blue button */
  color: #fff;
  border: black 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.gradient-top-bar {
  height: 8px; /* Or adjust as needed */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(to right, #ccff66, #66ccff); /* or match screenshot */
}

.login-header {
  padding-top: 2px;
  background-color: #4D7FA7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.login-nus-logo {
  padding: 20px 0 0 0;
  width: 300px; /* Adjust based on the actual logo size */
}
.login-edurec-logo {
  width: 300px; /* Adjust based on the actual logo size */
  margin-bottom: 40px;
}

.login-header h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

.login-content {
  background-color: #4D7FA7; /* Slightly lighter blue for the content area */
  padding: 40px 100px 40px 100px;
  text-align: left;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.login-content li {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.login-link {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.login-link a {
  color: white; /* Light blue for links */
  text-decoration: underline;
}

.login-link a:hover {
  cursor: pointer;
}

.important-notes {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.important-notes h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: #fff;
}

.important-notes ol {
  padding-left: 20px;
  margin: 0;
}

.important-notes li {
  margin-bottom: 10px;
  line-height: 1.2;
}

.important-notes ul {
  padding-left: 20px;
  margin: 5px 0;
}

.important-notes a {
  color: #00b7eb;
  text-decoration: underline;
}

.important-notes a:hover {
  color: #00a3d6;
}
.homepage-container,
.academics-container,
.view-classes-container,
.personal-info-container {
  max-width: auto;
  background-color: #f0f0f0;
}

.header {
  background-color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.home-icon img {
  width: 30px;
  height: 30px;
}

.nus-logo {
  width: 69px;
  height: 47px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}

.login-box {
  background-color: #d0e4f7;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.notes {
  font-size: 14px;
}

.notes ol {
  padding-left: 20px;
}

.notes ul {
  padding-left: 30px;
}

.underline {
  text-decoration: underline;
  color: #003087;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
  grid-template-rows: repeat(3, auto); /* 3 rows, height auto-adjusts */
  gap: 10px; /* Space between tiles */
  padding: 10px 200px 0 200px;
}
.tiles-new {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
  grid-template-rows: repeat(4, auto); /* 3 rows, height auto-adjusts */
  gap: 10px; /* Space between tiles */
  padding: 0px 20px 0 20px;
}

/* Tile Styles */
.tile,
.tile-academics,
.tile-financials {
  position: relative;
  color: white;
  padding: 0;
  text-align: center;
  border-radius: 5px;
}

.tile {
  background-color: #ff9e55;
}
.tile-academics {
  background-color: #4285b7;
}
.tile-financials {
  background-color: #f97a7a;
}

.tile img,
.tile-academics img,
.tile-financials img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the full area */
  border-radius: 5px; /* Optional: gives the image rounded corners */
}

.tile h3,
.tile-academics h3,
.tile-financials h3 {
  position: absolute;
  top: 0%; /* Vertically center the text */
  right: 2%; /* Horizontally center the text */
  color: white; /* Text color */
  font-size: 1vw; /* Adjust the font size */
}

.tile p {
  margin: 5px 0 0;
}

.sidebar {
  float: left;
  width: 25%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #003087;
  text-decoration: none;
}

.content {
  float: right;
  width: 70%;
  padding: 10px;
}

.content h3,
.content h4 {
  color: #003087;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f0f0f0;
}

table td {
  background-color: white;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
  height: fit-content;
}

.dropdown-btn {
  background-color: #f0f0f0;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  background-color: #0056d2;
}
.back-btn {
  background-color: #003087;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

.back-btn:hover {
  background-color: #0056d2;
}
.addresses-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-line {
  border-bottom: 1px solid black; /* Light gray line */
}

.pagination-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0; /* Space above and below the pagination bar */
}

.pagination-text {
  margin: 0 20px; /* Space between the text and arrows */
  font-size: 14px;
}

.pagination-arrow {
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.pagination-arrow.left-arrow {
  margin-right: 10px;
}

.pagination-arrow.right-arrow {
  margin-left: 10px;
}

.pagination-more {
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}
.nav-tabs {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}
.nav-tabs a {
  padding: 10px 20px;
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.nav-tabs a.active {
  background-color: #ff6200;
  color: white;
}
.main-content-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.sidebar-announcements {
  /* flex: 1; */
  max-width: 200px;
  background-color: #e0e0e0;
  padding: 20px;
  margin-left: 20px;
}
.sidebar-announcements h3 {
  background-color: #28a745;
  color: white;
  padding: 10px;
  margin: 0;
}
.announcement {
  margin: 10px 0;
}
.announcement a {
  color: #003087;
  text-decoration: none;
}
.announcement .date {
  color: #666;
  font-size: 12px;
}
